/* Reset CSS */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
.header {
    background-color: #1E1E1E;
}

.logo {
    width: 47px;
    height: 47px;
    top: 32px;
    left: 218px;
    gap: 0px;
    opacity: 0px;
    object-fit: cover;
    border-radius: 50%;
}

.header h3 {
    color: #FFFFFF;
    width: 233px;
    height: 36px;
    top: 37px;
    left: 287px;
    gap: 0px;
    opacity: 0px;
    /* font-family: Poppins; */


}